html {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

.logo{
  text-align: center;
  background-color: rgb(49, 109, 179);
  color: white;
  padding: 0.5em;
}

#character-bar {
  height: 15vh;
  background: rgb(49, 109, 179);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3vh;
}

#character-bar span {
  padding: 1%;
  height: 80%;
  width: 8vw;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  align-items: center;
  border-radius: 2em;
  border: 1px solid white;
}

.characterInfo{
  height: 550px;
  padding: 30px;
  font-size: 24px;
  border: dotted;
  text-align: center;
}

input[type="submit"], button {
  background-color: rgb(49, 109, 179);
  color: white;
  font-size: 18px;
  border-radius: 6px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"] {
  font-size: 3vh;
}

#image{
  width: 300px;
  height: 300px;
}
html {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

.logo{
  text-align: center;
  background-color: rgb(49, 109, 179);
  color: white;
  padding: 0.5em;
}

#character-bar {
  height: 15vh;
  background: rgb(49, 109, 179);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3vh;
}

#character-bar span {
  padding: 1%;
  height: 80%;
  width: 8vw;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  align-items: center;
  border-radius: 2em;
  border: 1px solid white;
}

.characterInfo{
  height: 550px;
  padding: 30px;
  font-size: 24px;
  border: dotted;
  text-align: center;
}

input[type="submit"], button {
  background-color: rgb(49, 109, 179);
  color: white;
  font-size: 18px;
  border-radius: 6px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"] {
  font-size: 3vh;
}

#image{
  width: 300px;
  height: 300px;
}
#character-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  
}

#character-form div {
  margin-bottom: 15px;
}

#character-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

#character-form input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

#character-form input[type="submit"] {
  width: 100%;
  background-color: navy;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#character-form input[type="submit"]:hover {
  background-color: navy;
}

